/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

 .root{
	-fx-background-image: url("pictures/options_background.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 48 48;
}

.button {
  -fx-height: 40px;
  -fx-width: 400px;
  -fx-stroke: black;
  -fx-stroke-width: 2px;
  -fx-position: relative;
  -fx-margin: 0;
  -fx-display: inline-block;
  -fx-background-image: url('pictures/button_center.png');
  -fx-background-repeat: repeat;
  -fx-padding: 0;
  -fx-text-align: center;
  -fx-color: white;
  -fx-border-style: solid;
  -fx-border-width: 2px 2px 4px 2px;
  -fx-border-color: #AAA #565656 #565656 #AAA;
  -fx-box-sizing: border-box;
}

.button span {
  -fx-position: relative;
  -fx-line-height: 40px;
  -fx-bottom: 3px;
}

.button:hover {
  -fx-border-width: 2px 2px 4px 2px;
  -fx-border-color: #BDC6FF #59639A #59639A #BDC6FF;
  -fx-background-image: url('pictures/button_active_center.png');
  -fx-color: #FFFFA0;
}